html {
    margin: 0;
}

.button {
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: #fff;
    color: black;
    border: 2px solid #04AA6D;
    border-radius: 20px;
}

.button1:hover{
    background-color: #04AA6D;
    color: #fff;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    border-radius: 20px;
}

.button2:hover {
    background-color: #008CBA;
    color: #fff;
}


span {
    display: block;
    text-align: center;
}

.canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.buttons {
    width: 100px;
    height: 100px;
    border: solid thistle 2px;
    display: inline-block;
    border-radius: 20px;
    justify-content: center;
    align-content: center;
}

#grey {
    background: grey;
}

#red {
    background: red;
}

#blue {
    background: blue;
}

#yellow {
    background: yellow;
}

#green {
    background: green;
}

#purple {
    background: purple;
}